<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informacion Contacto</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"> <!-- Se agrega un archivo de hoja de estilo -->
</head>
<body>
<h1>Informacion del Contacto</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Fech.Nacimiento</th>
        <th>celular</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contacto : ${contacto}"> <!-- Se utiliza la sintaxis de Thymeleaf para iterar sobre los objetos de contacto -->
        <td th:text="${contacto.id}"></td> <!-- Se muestra el id del contacto -->
        <td th:text="${contacto.nombre}"></td> <!-- Se muestra el nombre del contacto -->
        <td th:text="${contacto.fecha_nacimiento}"></td> <!-- Se muestra la fecha de nacimiento del contacto -->
        <td th:text="${contacto.celular}"></td> <!-- Se muestra el número de teléfono del contacto -->
        <td th:text="${contacto.email}"></td> <!-- Se muestra el correo electrónico del contacto -->
    </tr>
    </tbody>
</table>
<h1>¿Desea eliminar este contacto?</h1>
<div style="display: flex; justify-content: center; margin:30px;">
    <a href="/contactos" th:href="@{/contactos}"> <!-- Se agrega un enlace para cancelar la eliminación -->
        <button>NO</button>
    </a>
    <a class="eliminar-btn" th:data-id="${contacto.id}" th:href="@{/contactos/{id}/elimina(id=${contacto.id})}"  > <!-- Se agrega un enlace para eliminar el contacto -->
        <button>SI</button>
    </a>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () { <!-- Se espera a que se cargue el documento antes de ejecutar el siguiente código -->
        $('.eliminar-btn').click(function () { <!-- Se agrega un evento de clic para el botón de eliminación -->
            var id = $(this).data('id'); <!-- Se obtiene el id del contacto a eliminar -->
            if (confirm("¿Desea eliminar este contacto?")) { <!-- Se muestra una confirmación antes de eliminar el contacto -->
                window.location.href = '/contactos/' + id + '/elimina'; <!-- Se redirige a la página de eliminación del contacto -->
            }
        });
    });
</script>
</body>
</html>
