<!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org">
      <head>
          <meta charset="UTF-8">
          <title>Libreta de contactos</title>
          <link rel="stylesheet" th:href="@{/css/home.css}">
      </head>
      <body>
          <h1>Bienvenido a la Libreta de Contactos</h1>
          <p>Este es un sistema para llevar el control de tus contactos telefónicos</p>
          <a href="/contactos" th:href="@{/contactos}">
            <button>Ver Contactos</button>
          </a>
      </body>
  </html>
